@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Sans Bengali", sans-serif;
  /* background: linear-gradient(rgba(0, 0, 0, 0.493),rgba(0, 0, 0, 0.514)); */
}
body {
  color-scheme: light !important;
  background: white;
  /* color: rgb(61, 61, 61); */
}
.font {
  font-family: "Oswald", serif;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
